@model IEnumerable<AtidRegister.Models.ContentType>

@{
    ViewData["Title"] = "קטגוריות";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>קטגוריות</h1>

<p>
    <a asp-action="CreateType">הוספה</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("עריכה", "EditType", new {  id=item.Id  }) |
                @Html.ActionLink("פרטים", "TypeDetails", new {  id=item.Id  }) |
                @Html.ActionLink("מחיקה", "DeleteType", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
